<!-- Admin page where admin can create and delete posts -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/admin-page.css' %}">
    <title>Admin Page</title>
</head>

<body>
    <div>
        <div class="logo">BlogPost</div>

        <!-- Form to create Posts -->
        <div class="create-post container">
            <h2>Create Blog</h2>
            <form action="" method="post" class="create-post-form">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="create">
                <label for="title">Title</label>
                <input type="text" name="title" class="input-title">
                <label for="input-content">Post</label>
                <textarea name="input-content" id="input-content"></textarea>
                <button class="submit" type="submit">Create</button>
            </form>
        </div>

        <!-- All Posts to view and delete -->
        <div class="container">
            {% for blog_post in blog_posts%}
            <div class="blog-container">
                <form action="" method="post" class="blog">
                    {% csrf_token %}
                    <div class="title">{{blog_post.title}}</div>
                    <div class="discription">{{blog_post.content|truncatewords:60}}</div>
                    <div class="timestamp">{{blog_post.timestamp}}</div>
                    <button type="submit">Delete</button>
                    <!-- <input type="hidden" name="form_type" value="delete"> -->
                    <input type="hidden" name="blog_id" value="{{blog_post.id}}">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>