<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main_blog/static/style/index.css">
    <title>Blog List</title>
</head>

<body>
    <div>
        <div class="logo">
            <h3>BlogPost</h3>
        </div>

        <!-- container for available posts with title and short discription of the post -->
        <div class="main container">
            <div class="blog-container">
                <div class="title">This is the title of the blog</div>
                <div class="discription">Hiiiiiiiiiii. This is the discription for the texting purpose.</div>
                <div class="timestamp">3.43</div>
            </div>

            <div class="blog-container">
                <div class="title">This is the title of the blog</div>
                <div class="discription">Hiiiiiiiiiii. This is the discription for the texting purpose.</div>
                <div class="timestamp">3.43</div>
            </div>
        </div>
    </div>
</body>

</html>